<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <img src="assets/images/Logo.jpeg" alt="Futuro TEC Logo" class="logo-img">
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-button routerLink="/inicio" class="nav-button ion-hide-md-down">Início</ion-button>
      <ion-button routerLink="/sobre" class="nav-button ion-hide-md-down">Sobre</ion-button>
      <ion-button routerLink="/cursos" class="nav-button ion-hide-md-down">Cursos</ion-button>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-button routerLink="/cadastro" class="login-button">Cadastro</ion-button>
      <ion-button routerLink="/login" class="login-button">Login</ion-button>
    </ion-buttons>

    <ion-menu-button slot="end" auto-hide="false" class="ion-hide-md-up"></ion-menu-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="main-container">
    <ion-grid>
      <ion-row class="ion-align-items-center">
        <ion-col size-md="6" size="12" class="text-col">
          <h1>Conectando talentos da ETEC ao mercado de trabalho</h1>
          <ion-button class="start-button">
            Começar
          </ion-button>
        </ion-col>
        <ion-col size-md="6" size="12" class="image-col">
          <img src="assets/images/hero-image.png" alt="Imagem ilustrativa" class="hero-image">
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <br><br>
  <h2 class="connecting-text">Conectando talentos</h2>
  <div class="stats-section">
    <div class="stat-item">
      <ion-icon name="briefcase-outline" class="stat-icon"></ion-icon>
      <p>Conexão direta <br>candidato-vaga</p>
    </div>
    <div class="stat-item">
      <ion-icon name="school-outline" class="stat-icon"></ion-icon>
      <p>Foco nos alunos<br>das ETEC's</p>
    </div>
    <div class="stat-item">
      <ion-icon name="options-outline" class="stat-icon"></ion-icon>
      <p>Diversas<br>áreas técnicas</p>
    </div>
  </div>
</ion-content>
